body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

.friend {
    background-color: #e0e0e0;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.friend h3 {
    text-transform: uppercase;
    text-align: center;
}

.friend p {
    padding: 5px 0;
    text-align: center;
}